.nav-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.nav-item{
  margin-right: none;
  list-style-type: none;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

nav div{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
  }

  li img{
    width: 30px;
    height: 30px;
  }

  ul li{
    display: flex;
    float: left;
  }
   img{
    height: auto;
    width: auto;
   }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #777777f3;
  }

  .search-bar {
    display: flex;
}

.search-bar input {
    padding: 8px;
    border: solid;
    border-right: none;
}

.search-bar button {
  padding: 8px;
  background-color: #fff;
  cursor: pointer;
  border: solid;
  border-left: none;
}

.search-bar img {
  width: 15px; 
  height: 15px;
}