.nav-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-left: 50px;
  margin-right: 100px;
}

.nav-item{
  list-style-type: none;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

nav div{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    font-weight: 625;
  }

  li img{
    width: 30px;
    height: 30px;
  }

  ul li{
    display: flex;
    float: left;
    
  }
   img{
    height: auto;
    width: auto;
   }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #777777f3;
  }

  .search-bar {
    display: flex;
}

.search-bar input {
    padding: 8px;
    border: solid;
    border-width: 2px;
    border-right: none;
}

.search-bar button {
  padding: 8px;
  background-color: #fff;
  cursor: pointer;
  border: solid;
  border-width: 2px;
  border-left: none;
}

.search-bar img {
  width: 15px; 
  height: 15px;
}

.cart{
  display: flex;
}
.cart button {
  border: none;
    /* additional styling properties */
    padding: 10px 15px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

.rule-large {
  border-bottom: 3px solid #000;
}

.rule-small {
  border-bottom: 1px solid #BF7631;
}